table {
    font-family: serif;
    color: rgb(43, 146, 43);
    font-size: 35px;
}

img { 
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 25px ;
    margin-bottom: 30px;
    border-bottom: dotted 10px rgb(68, 131, 68); 
    border-top: dotted 10px rgb(68, 131, 68);
    border-top: dotted 10px rgb(68, 131, 68);
    border-left: dotted 10px rgb(68, 131, 68); 
    border-right: dotted 10px rgb(68, 131, 68);
}
h1 {
    font-family: initial;
}
h2 {
    font-family: cursive;
}
h3 {
    font-family: inherit;
    color: lawngreen;
    border-bottom: double 10px lightgreen; 
    border-top: double 10px lightgreen;
    border-top: double 10px lightgreen;
    border-left: double 10px lightgreen; 
    border-right: double 10px lightgreen;
    padding: 5px;

}
input::-webkit-input-placeholder {
    text-align: center;
  color: limegreen; 
  font-style: italic; 
  background: lightgreen;
}
input:-moz-placeholder {
    text-align: center;
  color: lightgreen; 
  font-style: italic; 
  background: limegreen;
}
input:-ms-input-placeholder {
    text-align: center;
  color: lightgreen; 
  font-style: italic; 
  background: limegreen;
}
h23 {
    color:rgb(125, 187, 32);
    background-color: rgb(224, 255, 179);
    font-size: 25px;
    text-align: center;
    margin: 130px;
   
    border-radius: 10%;

}
h23:hover {
    border-bottom: double 5px rgb(62, 175, 62);
    list-style-type: none;
}
h1:hover {
   border-right: double 10px green;
    border-left: double 10px green;
}
h2 {
    font-size: 15px;
}
.socseti img{
    position: fixed;
    right: 2px;
    top: 2px;
    width: 40px;
    background-color: rgb(109, 214, 109);
    
    height: 40px;
     border-radius: 50%;
   
}
.so img{
    position: fixed;
    right: 70px;
    top: 2px;
    width: 40px;
    background-color: rgb(109, 214, 109);
    
    height: 40px;
     border-radius: 50%;
   
}
.soc img{
    position: fixed;
    right: 140px;
    top: 2px;
    width: 40px;
    background-color: rgb(109, 214, 109);
    
    height: 40px;
     border-radius: 50%;
   
}
.tab{
    border: 3px solid black;
    padding: 5px;
}
.instruments{
    font-size: 60px;
}
.navigatia{
    display:flex;
    justify-content:center;
}
.navigatia a{
    font-size:30px;
    background-color:lightgreen;
    color: limegreen;
    text-decoration: None;
    padding: 15px;
}
.navigatia a:hover{
    border-bottom:3px double green;
}
